<nav class="navbar navbar-expand-sm navbar-dark" style="background: coral;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Brand -->
  <h3 class="navbar-brand" *ngIf="athlete != null">{{ getDisplayName(athlete | async)}}</h3>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{active : currentActivityType === 0, activitySelected: currentActivityType === 0}">
        <a class="nav-link" (click)="onSelectActivity(0)" style="cursor: pointer;"><img src="../../assets/run.png" class=".img-fluid" style="max-width: 50px"></a>
      </li>
      <li class="nav-item" [ngClass]="{active : currentActivityType === 1, activitySelected: currentActivityType === 1}">
        <a class="nav-link" (click)="onSelectActivity(1)" style="cursor: pointer;"><img src="../../assets/ride.png" class=".img-fluid" style="max-width: 50px"></a>
      </li>
      <li class="nav-item" [ngClass]="{active : currentActivityType === 2, activitySelected: currentActivityType === 2}">
        <a class="nav-link" (click)="onSelectActivity(2)" style="cursor: pointer;"><img src="../../assets/hike.png" class=".img-fluid" style="max-width: 50px"></a>
      </li>
    </ul>
  </div>

  <img [src]="(athlete | async).profile_medium" class="rounded-circle" style="max-width: 60px;">
</nav>

