<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Moving time</th>
    <th>Avg Speed <small>km/h</small></th>
    <th>Distance</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>{{ activitySummary.num }} rides in {{ month | date:'MMMM' }}</th>
    <th></th>
    <th>Total {{ (activitySummary.totalDistance )/1000 | number:'.1-2' }} km</th>
  </tr>
  </tfoot>
  <tbody>
  <tr *ngFor="let act of activitySummary.activities">
    <td><a [href]="'https://www.strava.com/activities/'.concat(act.id)"
           target="_blank"
           [ngbTooltip]="act.name" container="body" placement="right">
      {{ act.start_date | date:'d.M.y H:m:s'}}
        </a></td>
    <td><p>{{ convertSeconds(act.moving_time) }}</p></td>
    <td><p>{{ computeSpped(act.moving_time, act.distance) | number:'.1-2' }}</p></td>
    <td><p>{{ act.distance/1000 | number:'.1-2' }} km</p></td>
  </tr>
  </tbody>
</table>


