<div class="container-fluid">
  <table>
    <tr>
      <td *ngFor="let month of activities; let i = index" style="vertical-align: bottom">
        <div *ngIf="shouldDisplayMonth(month)">
          <div  style="text-align: center">{{ roundDistance(month.activityTypes[currentActivityType].totalDistance)
            }}</div>
          <div class="actbar"
               [ngStyle] = "{'height': computeHeight(month)}"
               [ngClass] = "{'active': selectedMonth === i}"
               (click)="onMonthSelect(i)"></div>
          <div style="text-align: center">{{month.currentMonth | date:'M'}}</div>
        </div>
      </td>
    </tr>
  </table>
</div>


